/* Estilo do corpo */
body {
    background-color: #3b2a1d;
    color: #e4d8c5;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Menu de navegação */
header {
    background-color: #4a3b2a;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

header nav ul li {
    margin: 0 20px;
}

header nav ul li a {
    color: #e4d8c5;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
}

header nav ul li a:hover {
    color: #a67f3e; /* Cor de destaque */
}

/* Corpo do conteúdo */
main {
    margin-top: 80px; /* Espaço para o menu fixo */
    padding: 20px;
    max-width: 800px;
    margin: 80px auto;
    background-color: #4a3b2a;
    border-radius: 10px;
}

h1, h2 {
    color: #d8c6a7;
}

h2 {
    margin-top: 20px;
}

ul {
    text-align: left;
    padding-left: 20px;
}

/* Links de navegação */
a {
    text-decoration: none;
    color: inherit;
}

/* Estilo para o parágrafo e lista */
p, ul {
    font-size: 18px;
    line-height: 1.6;
    color: #d0bda0;
}
